[run]
source = 
    qlib
    examples
branch = True
omit = 
    # tests and test helpers
    tests/*.py
    tests/**/*.py
    # virtualenv / site-packages
    */.venv/*
    */env/*
    */site-packages/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if __name__ == .__main__.:
    raise NotImplementedError
    pass
    raise ImportError

# Hide missing file list by default
show_missing = False
skip_covered = False

[html]
directory = coverage_html
show_contexts = True
title = QLib Test Coverage Report
