[run]
source =
    qlib/examples
    qlib/features/crypto_workflow

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if __name__ == .__main__.:
    raise NotImplementedError
    pass
    raise ImportError
    except ImportError:
    
[html]
directory = coverage_html
title = QLib Coverage Report
